body {
  background-color: #fff;
  font-size: 14px;
  line-height: var(--vertical-rhythm-sm);
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
    line-height: var(--vertical-rhythm-lg);
  }
}

h1 {
  font-size: 28px;
  line-height: 44px;
  margin-top: 44px;
  margin-bottom: var(--vertical-rhythm-sm);
}

@media (min-width: 600px) {
  h1 {
    font-size: 31px;
    line-height: 52px;
    margin-top: 52px;
    margin-bottom: var(--vertical-rhythm-lg);
  }
}

h2 {
  font-size: 22px;
  line-height: var(--vertical-rhythm-sm);
  margin-top: 44px;
  margin-bottom: var(--vertical-rhythm-sm);
}

@media (min-width: 600px) {
  h2 {
    font-size: 25px;
    line-height: var(--vertical-rhythm-lg);
    margin-top: 52px;
    margin-bottom: var(--vertical-rhythm-lg);
  }
}

h3 {
  font-size: 18px;
  line-height: var(--vertical-rhythm-sm);
  margin-top: var(--vertical-rhythm-sm);
  margin-bottom: var(--vertical-rhythm-sm);
}

@media (min-width: 600px) {
  h3 {
    font-size: 20px;
    line-height: var(--vertical-rhythm-lg);
    margin-top: var(--vertical-rhythm-lg);
    margin-bottom: var(--vertical-rhythm-lg);
  }
}

h4 {
  font-size: 14px;
  line-height: var(--vertical-rhythm-sm);
  margin-top: var(--vertical-rhythm-sm);
  margin-bottom: var(--vertical-rhythm-sm);
}

@media (min-width: 600px) {
  h4 {
    font-size: 16px;
    line-height: var(--vertical-rhythm-lg);
    margin-top: var(--vertical-rhythm-lg);
    margin-bottom: var(--vertical-rhythm-lg);
  }
}

p, ul, ol, pre, table, blockquote {
  margin-top: var(--vertical-rhythm-sm);
  margin-bottom: var(--vertical-rhythm-sm);
}

@media (min-width: 600px) {
  p, ul, ol, pre, table, blockquote {
    margin-top: var(--vertical-rhythm-lg);
    margin-bottom: var(--vertical-rhythm-lg);
  }
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

b, strong, em, small, code {
  line-height: 1;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}
